<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">Mongo Sraper</a>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/saved">Saved Articles</a></li>
                <li><a class="btn scrape-new">Scrape New Articles</a></li>
            </ul>
        </div>
        </div>
</nav>

<div class="jumbotron">
    <h1>Mongo Scraper</h1>
    <p>Wall Street Journal Edition</p>
</div>

<div class="container-fluid">
    <div class="container" id="div-container">
        <p>WSJ Scraper</p>
        {{#each data}}
        <div class="card">
            <h2 class="card-header"><a href="{{link}}">{{this.title}}</a></h2>
                <p class="card-text">{{this.summary}}</p>
                <button data-id="{{_id}}" type="button" class="btn">Save</button>
                <button id="{{link}}" type="button" class="btn">Read More</button>
        </div>
        {{/each}}

    </div>
</div> {{!-- this ends the container --}}

{{!-- JAVASCRIPT --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script src="/assets/js/index.js"></script>